/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







:root{
	--primary: #ed563a;
	--textDark: rgb(32,37,41);
	--textlight: rgb(105, 108, 108);
}




*,
*::after,
*::before{
    box-sizing: border-box;
}
a{
	text-decoration: none;
	color: white;
}
body{
	font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
	color: var(--textlight);
}
.container{
    max-width: 1580px;
	width: 100%;
    margin: 0 auto;
    padding: 0 200px;
	/*box-shadow: 1px 1px 6px rgba(0,0,0,0.3);*/
}
.padding{
	padding: 64px 0;
}
.margintop{
	margin-top: 48px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-center{
	justify-content: center;
}
.justify-end{
	justify-content: flex-end;
}
.item-start{
	align-items: flex-start;
}
.align-left{
	text-align: left;
}
.item-strech{
	align-items: stretch;
}
.column{
	flex-direction: column;
}
.flex-20{
	flex: 0 1 20%;
}
.flex-30{
	flex: 0 1 30%;
}
.flex-50{
	flex: 0 1 50%;
}
.flex-46{
	flex: 0 1 46%;
}
.grow{
	flex: 1 1 auto;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn{
	display: inline-block;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 600;
	transition: box-shadow 200ms ease-in-out;
	letter-spacing: 0.8px;
	border: none;
	box-shadow: none;
}
.btn:hover{
	box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}
.btn-primary{
	background-color: var(--primary);
	color: white;
}
.text-center{
	text-align: center;
}
.font-0{
	font-size: 0;
}
.width-full{
	width: 100%;
}
strong{
	color: var(--primary);
}





header{
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.4);
	padding: 10px 30px;
}
h3{
	color: white;
	font-size: 28px;
	font-weight: 700;
}
header h3 a{
	color: var(--primary);
	font-size: 28px;
	font-weight: 700;
}
header a{
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	margin: 20px 20px;
	font-weight: 600;
}
.active{
	color: var(--primary);
}
header a:hover{
	color: var(--primary);
}
header button a:hover{
	color: white;
}



.hero video{
	width: 1520px;
	position: relative;
}
.absolute{
	position: absolute;
	background: rgba(0,0,0,0.6);
	bottom: -170px;
	left: 0;
	right: 0;
	top: 40px;
}
.herotxt{
	padding-top: 350px;
	color: white;
}
.herotxt h5{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.herotxt h1{
	font-size: 64px;
	text-transform: uppercase;
	font-weight: 800;
}




h4{
	font-size: 18px;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: var(--textDark);
}
p{
	font-size: 10px;
	color: var(--textlight);
	margin: 20px 0;
}
h6{
	font-size: 12px;
	color: var(--textDark);
	text-transform: capitalize;
	font-weight: 700;
}
.programs a{
	font-size: 10px;
	text-transform: uppercase;
}
.programs .prg-content{
	margin: 30px 0;
}
.programs .prg-img{
	width: 80px;
}
.programs .prg-txt{
	margin-left: 30px;
}
.programs .prg-section{
	margin: 20px;
}





.cta{
	height: 100%;
	background: url(../assets/cta-bg.jpg);
}
.cta p{
	font-size: 10px;
	color: white;
	padding: 20px 0;
}
.space{
	padding: 120px 0;
}




.classes p{
	font-size: 10px;
	color: var(--textlight);
	margin: 20px 0;
}
.classes .sec1 button{
	width: 250px;
	height: 60px;
	margin: 10px 0;
	border-radius: 8px;
}
.classes .trainerimg{
	height: 250px;
}



.schedule{
	height: 100%;
	background: url(../assets/schedule-bg.jpg);
}
.schedule h4{
	color: white;
}
.schedule p{
	color: white;
	font-size: 10px;
	margin: 20px 0;
}
.schedule ul{
	margin-top: 80px;
	margin-bottom: 50px;
}
.schedule a{
	color: white;
	font-size: 15px;
	margin: 20px 20px;
	font-weight: 600;
}
.schedule a:hover{
	color: var(--primary);
}
.schedule .active{
	color: var(--primary);
}
.schedule table{
	border-collapse: collapse;
	color: white;
	padding: 20px 30px;
}
.schedule td{
	border: 1px solid white;
	padding: 30px;
}



.trainer strong{
	display: block;
	font-size: 10px;
	text-transform: capitalize;
}
.trainer .box{
	padding: 20px;
	box-shadow: 0 0 6px 2px rgba(170, 168, 168, 0.4);
	margin: 30px 20px;
	width: 350px;
	height: 400px;
	border-radius: 8px;
}
.trainer .trainee{
	width: 100%;
}
.trainer a{
	color: var(--textDark);
	font-size: 15px;
	margin-right: 8px;
}
.trainer a:hover{
	color: var(--primary);
}
.trainer p{
	color: var(--textlight);
	font-size: 10px;
	margin: 10px 0;
}





.map .contactbg{
	background: url(../assets/contact-bg.jpg);
	width: 760px;
	height: 460px;
}
.map form{
	margin: 50px;
}
.map fieldset{
	background: white;
	height: 350px;
	padding: 20px;
	border-radius: 6px;
}
.map input, textarea{
	width: 100%;
	margin: 10px 0;
	padding: 10px;
}
.map .formselect:focus{
	border-color: var(--primary);
	box-shadow: none;
	border: var(--primary);
}


.footer{
	padding: 20px;
	font-size: 10px;
}